@use './base';

.container {
  max-height: 70vh;
  min-height: 80%;
  overflow-y: auto;
}

.list {
  @include base.owl-col;

  height: 100%;
  list-style: none;
  margin: 0;
  max-height: 80vh;
  min-width: 100px;
  padding: base.$space-sm;
}
