@use './base';

.row {
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;

  &__selected {
    background: rgba(196, 247, 247, 0.62);

    @include base.prefers-dark {
      background: rgba(0, 57, 60, 0.85);
    }
  }
}
