@use './base';

.controls {
  @include base.owl-col(base.gap(1.5));

  &__buttons {
    @include base.owl-row;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: base.$space-sm;
  }

  &__inputs {
    @include base.owl-col;

    align-items: flex-end;
    display: flex;
    flex-direction: column;
    padding: base.$space-sm;
  }

  &__title {
    align-self: flex-start;
    padding-inline-start: base.$space-sm;
  }
}

.input {
  &--short {
    text-align: center;
    width: 4em;
  }
}
