@use './base';

.body {
  background: base.$bg-light;
  color: base.$text-light;
  scroll-behavior: smooth;

  @include base.prefers-dark {
    background: base.$bg-dark;
    color: base.$text-dark;
  }

  &--dark {
    background: base.$bg-dark;
    color: base.$text-dark;
  }

  pre {
    background: rgba(27, 31, 35, 0.1);
    border-radius: 6px;
    font-size: 85%;
    padding: base.gap(2);

    @include base.prefers-dark {
      background: rgb(43, 43, 43);
    }
  }

  code {
    background: rgba(27, 31, 35, 0.1);
    border-radius: 6px;
    font-size: 85%;
    padding: 0.2em 0.4em;

    @include base.prefers-dark {
      background: rgb(43, 43, 43);
      color: rgb(28 208 255);
    }
  }

  pre > code {
    background: transparent;
    white-space: pre;
  }

  pre code {
    display: inline;
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
}
